{% extends "index.html" %}
{% block title %}{{ object.title }}{% endblock title %}

{% block department_area %}
    <div class="course_details_area my-4">
        <div class="container">
            <div class="row">
                {% with matiere=cours.matiere %}
                    <div class="col-lg-8 course_details_left">
                        <div class="main_image">
                            <img src="{{ STATIC_PREFIX }}img/course-details.jpg" alt="{{ matiere.title }} &mdash; {{ object.title }}" class="img-fluid">
                        </div>

                        <div class="content_wrapper">
                            <h4 class="title">Objectives</h4>
                            <div class="content">
                                {{ object.resume|safe }}
                            </div>

                            <h4 class="title">Eligibility</h4>
                            <div class="content">
                                {{ object.resume|safe }}
                            </div>

                            <h4 class="title">Course Outline</h4>
                            <div class="content">
                                <ul class="course_list">
                                    <li class="justify-content-between d-flex">
                                        <p>Getting Familiar with CSS</p>
                                        <a class="primary-btn text-uppercase" href="#">View Details</a>
                                    </li>
                                    <li class="justify-content-between d-flex">
                                        <p>Introduction to Bootstrap</p>
                                        <a class="primary-btn text-uppercase" href="#">View Details</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    {% include "layout/sidebar.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock department_area %}
