{% extends "base.html" %}
{% block title %}My courses{% endblock %}

{% block content %}
    <h1>My courses</h1>
    <div class="module">
        {% for cours in object_list %}
            <div class="course-info">
                <h3>{{ cours.title }}</h3>
                <p>
                    <a href="{% url "cours:cours_edit" cours.id %}">Edit</a>
                    <a href="{% url "cours:cours_delete" cours.id %}">Delete</a>
                    <a href="{% url "cours:cours_module_update" cours.id %}">Edit modules</a>
                    {% if cours.modules.count > 0 %}
                        <a href="{% url "cours:module_content_liste" cours.modules.first.id %}">Manage contents</a>
                    {% endif %}
                </p>
            </div>
        {% empty %}
            <p>You haven't created any courses yet.</p>
        {% endfor %}
        <p>
            <a href="{% url "cours:cours_create" %}" class="button">Create new course</a>
        </p>
    </div>
{% endblock %}
