{% load static cache %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}n'souan{% endblock title %}</title>
        <link rel="stylesheet" href="{% static "css/base.css" %}">
    </head>


    <body>
        {# header top bar #}
        <div id="header">
            <a href="/" class="logo">n'souan</a>

            <ul class="menu">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url "deconnexion" %}">Deconnexion</a></li>
                {% else %}
                    <li><a href="{% url "connexion" %}">Connexion</a></li>
                {% endif %}
            </ul>
        </div> {# end header top bar #}

        <div id="content">
            {% block content %}

            {% endblock content %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <script>
            $(document).ready(function() {
                {% block domready %}
                {% endblock %}
            });
        </script>
    </body>

    <!-- Begin of Chaport Live Chat code -->
    <script type="text/javascript">
    (function(w,d,v3){
        w.chaportConfig = {
          appId : '5deaffcfd5aa480ee30a5f90'
      };

      if(w.chaport)return;v3=w.chaport={};v3._q=[];v3._l={};v3.q=function(){v3._q.push(arguments)};v3.on=function(e,fn){if(!v3._l[e])v3._l[e]=[];v3._l[e].push(fn)};var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://app.chaport.com/javascripts/insert.js';var ss=d.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s,ss)})(window, document);
      </script>
      <!-- End of Chaport Live Chat code -->
</html>
