{% load static %}{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="fr" class="no-js">
    <head>
        {% include "layout/meta.html" %}
        {% block add_css %}{% endblock add_css %}
        <title>
            {% block title %}
                edu. &mdash; Free Website Template, Free HTML5 Template by freehtml5.co
            {% endblock title %}
            &smid; edu.
        </title>
    </head>

    {% block body %}
        <body>
            {% include "layout/navigation.html" %}

            {% block content %}
                {% block banner_area %}
                    <!--================ Start Home Banner Area =================-->
                    <section class="banner_area">
                        <div class="banner_inner d-flex align-items-center">
                            <div class="overlay"></div>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div class="banner_content text-center">
                                            <h2>
                                                Apprenez <br>
                                                à votre rythme
                                            </h2>
                                            <p>
                                                Apprenez à tout moment, où que vous soyez et en toute sérénité grâce à nos meilleurs cours en ligne.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--================ End Home Banner Area =================-->
                {% endblock banner_area %}

                {% block department_area %}
                    <!--================ Start Department Area =================-->
                    <div class="department_area section_gap">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="dpmt_courses">
                                        <div class="row">
                                            <!-- single course -->
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
                                                <div class="single_department">
                                                    <div class="dpmt_icon">
                                                        <img src="{{ STATIC_PREFIX }}img/dpmt/icon1.png" alt="">
                                                    </div>
                                                    <h4>Languages</h4>
                                                </div>
                                            </div>
                                            <!-- single course -->
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
                                                <div class="single_department">
                                                    <div class="dpmt_icon">
                                                        <img src="{{ STATIC_PREFIX }}img/dpmt/icon2.png" alt="">
                                                    </div>
                                                    <h4>Business</h4>
                                                </div>
                                            </div>
                                            <!-- single course -->
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
                                                <div class="single_department">
                                                    <div class="dpmt_icon">
                                                        <img src="{{ STATIC_PREFIX }}img/dpmt/icon3.png" alt="">
                                                    </div>
                                                    <h4>Literature</h4>
                                                </div>
                                            </div>
                                            <!-- single course -->
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
                                                <div class="single_department">
                                                    <div class="dpmt_icon">
                                                        <img src="{{ STATIC_PREFIX }}img/dpmt/icon4.png" alt="">
                                                    </div>
                                                    <h4>Software</h4>
                                                </div>
                                            </div>
                                            <!-- single course -->
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt--100">
                                                <div class="single_department">
                                                    <div class="dpmt_icon">
                                                        <img src="{{ STATIC_PREFIX }}img/dpmt/icon5.png" alt="">
                                                    </div>
                                                    <h4>Design</h4>
                                                </div>
                                            </div>
                                            <!-- single course -->
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
                                                <div class="single_department">
                                                    <div class="dpmt_icon">
                                                        <img src="{{ STATIC_PREFIX }}img/dpmt/icon6.png" alt="">
                                                    </div>
                                                    <h4>Coaching</h4>
                                                </div>
                                            </div>
                                            <!-- single course -->
                                            <div class="offset-lg-4 col-lg-4 col-md-4 col-sm-6 col-12 text-center mt--100">
                                                <div class="single_department">
                                                    <div class="dpmt_icon">
                                                        <img src="{{ STATIC_PREFIX }}img/dpmt/icon7.png" alt="">
                                                    </div>
                                                    <h4>Development</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="offset-lg-1 col-lg-5">
                                    <div class="dpmt_right">
                                        <h1>Over 2500 Courses from 5 Platform</h1>
                                        <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
                                            exciting to think about setting up your own viewing station. In the life of any aspiring astronomer that it is
                                            time to buy that first telescope. It’s exciting to think about setting up your own viewing station.</p>
                                        <p>It’s exciting to think about setting up your own viewing station. In the life of any aspiring astronomer that
                                            it is time to buy that first telescope exciting is time to buy that first.</p>
                                        <a href="#" class="primary-btn text-uppercase">Explore Courses</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--================ End Department Area =================-->
                {% endblock department_area %}

                {% block popular_courses %}
                {% endblock popular_courses %}

                {% block fact_area %}
                    <div class="fact_area overlay">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <div class="main_title">
                                        <h2>Facts that Make us Unique</h2>
                                        <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
                                            exciting to think about setting up your own viewing station.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- single features -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="single_fact">
                                        <div class="f_icon">
                                            <img src="{{ STATIC_PREFIX }}img/f-icons/icon1.png" alt="">
                                        </div>
                                        <h4>Expert Mentors</h4>
                                        <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore dolor sit
                                            amet consec tetur adipisicing elit, sed do eiusmod tempor sed do eiusmod tempor incididunt labore dolor sit amet
                                            consec tetur adipisicing elit, seddo eiusmod tempor.</p>
                                    </div>
                                </div>
                                <!-- single features -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="single_fact">
                                        <div class="f_icon">
                                            <img src="{{ STATIC_PREFIX }}img/f-icons/icon2.png" alt="">
                                        </div>
                                        <h4>25000+ Courses</h4>
                                        <p>Lorem ipsum dolor sit amet consec tetur adipis icing elit, sed do eiusmod tempor incididunt labore dolor sit
                                            amet consec.</p>
                                    </div>
                                </div>
                                <!-- single features -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="single_fact">
                                        <div class="f_icon">
                                            <img src="{{ STATIC_PREFIX }}img/f-icons/icon3.png" alt="">
                                        </div>
                                        <h4>Student Membership</h4>
                                        <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore dolor sit
                                            amet consec tetur adipisicing elit, sed do eiusmod tempor sed do eiusmod tempor incididunt labore dolor sit amet
                                            consec tetur adipisicing elit, seddo eiusmod tempor.</p>
                                    </div>
                                </div>
                                <!-- single features -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="single_fact">
                                        <div class="f_icon">
                                            <img src="{{ STATIC_PREFIX }}img/f-icons/icon4.png" alt="">
                                        </div>
                                        <h4>Lifetime Access</h4>
                                        <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore dolor sit
                                            amet consec tetur adipisicing elit sed do eiusmod.</p>
                                    </div>
                                </div>
                                <!-- single features -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="single_fact">
                                        <div class="f_icon">
                                            <img src="{{ STATIC_PREFIX }}img/f-icons/icon5.png" alt="">
                                        </div>
                                        <h4>Source File Included</h4>
                                        <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore dolor sit
                                            amet consec tetur adipisicing elit sed do eiusmod.</p>
                                    </div>
                                </div>
                                <!-- single features -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="single_fact">
                                        <div class="f_icon">
                                            <img class="img-fluid" src="{{ STATIC_PREFIX }}img/f-icons/icon6.png" alt="">
                                        </div>
                                        <h4>Live Support</h4>
                                        <p>Lorem ipsum dolor sit amet consec tetur adipis icing elit, sed do eiusmod tempor incididunt labore dolor sit
                                            amet consec.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock fact_area %}

                {% block registration_area %}
                    <!--================ Start Registration Area =================-->
                    <div class="section_gap registration_area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-7">
                                    <div class="row clock_sec clockdiv" id="clockdiv">
                                        <div class="col-lg-12">
                                            <h1>Register Now</h1>
                                            <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s
                                                exciting to think about setting up your own viewing station.</p>
                                        </div>
                                        <div class="col clockinner1 clockinner">
                                            <h1 class="days">150</h1>
                                            <span class="smalltext">Days</span>
                                        </div>
                                        <div class="col clockinner clockinner1">
                                            <h1 class="hours">23</h1>
                                            <span class="smalltext">Hours</span>
                                        </div>
                                        <div class="col clockinner clockinner1">
                                            <h1 class="minutes">47</h1>
                                            <span class="smalltext">Mins</span>
                                        </div>
                                        <div class="col clockinner clockinner1">
                                            <h1 class="seconds">59</h1>
                                            <span class="smalltext">Secs</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 offset-lg-1">
                                    <div class="register_form">
                                        <h3>Courses for Free</h3>
                                        <p>It is high time for learning</p>
                                        <form class="form_area" id="myForm" action="" method="post">
                                            <div class="row">
                                                <div class="col-lg-12 form_group">
                                                    <input name="name" placeholder="Your Name" required="" type="text">
                                                    <input name="name" placeholder="Your Phone Number" required="" type="tel">
                                                    <input name="email" placeholder="Your Email Address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                                                     required="" type="email">
                                                </div>
                                                <div class="col-lg-12 text-center">
                                                    <button class="primary-btn">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--================ End Registration Area =================-->
                {% endblock registration_area %}
            {% endblock content %}

            {% block main %}
            {% endblock main %}

            {% include "layout/footer.html" %}
        </body>
    {% endblock body %}


    {% include "layout/script.html" %}
    <!-- Begin of Chaport Live Chat code -->
    <script type="text/javascript">
    (function(w,d,v3){
        w.chaportConfig = {
          appId : '5deaffcfd5aa480ee30a5f90'
      };

      if(w.chaport)return;v3=w.chaport={};v3._q=[];v3._l={};v3.q=function(){v3._q.push(arguments)};v3.on=function(e,fn){if(!v3._l[e])v3._l[e]=[];v3._l[e].push(fn)};var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://app.chaport.com/javascripts/insert.js';var ss=d.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s,ss)})(window, document);
      </script>
      <!-- End of Chaport Live Chat code -->
</html>
