{% load static %}{% get_static_prefix as STATIC_PREFIX %}


    <footer class="footer-area bg-light section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>Education</h4>
                    <ul>
                        <li><a href="#">L'entreprise</a></li>
                        <li><a href="#">Alternance</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>Entreprises</h4>
                    <ul>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Business</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>En plus</h4>
                    <ul>
                        <li><a href="#">Devenez mentor</a></li>
                        <li><a href="#">Aide et FAQ</a></li>
                        <li><a href="#">Conditions Générales d'Utilisation</a></li>
                        <li><a href="#">Politique de Protection des Données Personnelles</a></li>
                        <li><a href="#">Nous contacter</a></li>
                    </ul>
                </div>
            </div>
            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-12 footer-text m-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script></p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </footer>
