{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<script src="{{ STATIC_PREFIX }}js/jquery-3.2.1.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/popper.js"></script>
<script src="{{ STATIC_PREFIX }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/stellar.js"></script>
<script src="{{ STATIC_PREFIX }}js/countdown.js"></script>
<script src="{{ STATIC_PREFIX }}vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="{{ STATIC_PREFIX }}vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/owl-carousel-thumb.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/jquery.ajaxchimp.min.js"></script>
<script src="{{ STATIC_PREFIX }}vendors/counter-up/jquery.counterup.js"></script>
<script src="{{ STATIC_PREFIX }}js/mail-script.js"></script>
<script src="{{ STATIC_PREFIX }}js/gmaps.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/theme.js"></script>
